:root {
  --text-color: #8da9a6;
  --background-color: #081217;
  --background-color-light: #15313d;
  --button-border: #1f495b 1px solid;
  --button-border-color-hover: #45a3cb;
  --links-color: #c28b4a;
  --button-color-hover: #dca151;
  --button-background-color-active: #0a171e;
  --modal-background-color: #0e0e0e;
  --modal-border-color: #d9d9d9;
  --modal-text-color-: #9d9d9d;
  --modal-title-color: #d5d5d5;
  --modal-button-color: #8e8e8e;
  --modal-button-background-color: #1f1f1f;
  --reduced-opacity: 0.8;
  --main-font: 'Oswald', sans-serif;
  --secondary-font: 'Bilbo Swash Caps', sans-serif;
}

html,
body {
  user-select: none;
  background-color: #081217;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: #00000000;
}
.modal{
  font-family: var(--main-font);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

#pokemon-list button{
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  color: var(--links-color);
  font-family: var(--main-font);
}
.pokemon-button-list .row>*{
  padding: 0;
}
#pokemon-list button:hover,
#pokemon-list button:focus
{
  border-color: var(--button-border-color-hover);
  color: var(--button-color-hover);
}

.modal-content{
  background-color: var(--modal-background-color);
  color: var(--modal-text-color-);
}