
:root {
  --text-color: #8da9a6;
  --background-color: #081217;
  --background-color-light: #15313d;
  --button-border: #1f495b 1px solid;
  --button-border-color-hover: #43a3cc;
  --links-color: #c28b4a;
  --button-color-hover: #dca151;
  --button-background-color-active: #0e212a;
  --modal-background-color: #0e0e0e;
  --modal-border-color: #d9d9d9;
  --modal-text-color-: #9d9d9d;
  --modal-title-color: #d5d5d5;
  --modal-button-color: #8e8e8e;
  --dialog-accept-color: #8e8e8e;
  --dialog-reject-color: #8e8e8e;
  --modal-button-background-color: #1f1f1f;
  --font-weight: 200;
  --font-weighted: 700;
  --font-size-h1: 28px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-text: 18px;
  --line-height: 1.6;
  --max-body-width: 1280px;
  --reduced-opacity: 0.8;
  --main-font: 'Oswald', sans-serif;
  --secondary-font: 'Bilbo Swash Caps', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  /*height: 100%;*/
  user-select: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: #00000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: var(--font-size-text);
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--max-body-width);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weighted);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weighted);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weighted);
}

button:active {
  background-color: var(--button-background-color-active);
}

button:hover,
button:focus,
.name-button:hover,
.name-button:focus {
  cursor: pointer;
  /*opacity: 0.8;*/
  border-color: var(--button-border-color-hover);
  color: var(--button-color-hover);
}

.name-button,
button {
  opacity: 1;
  background-color: transparent;
  color: var(--links-color);
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  border: var(--button-border);
  transition: 0.2s opacity;
  width: 100%;
}

#page-header {
  position: relative;
  background-color: var(--background-color-light);
  text-align: center;
}

#logo {
  font-family: var(--secondary-font);
}

.social-media {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.social__icons {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 5px;
}


#main {
  flex-grow: 1;
  margin: 5px;
  display: flex;
}

#modal-container {
  background-color: var(--background-color-light);
  border: 4px solid #43a3cc;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
}

#pokemon-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  display: flex;
  flex-flow: wrap;
  /*flex-direction: column;*/
  justify-content: center;
}

#pokemon-list li {
  width: 250px;
  margin: 5px;
  /*background-color: rebeccapurple;*/
  /*text-align: center;*/
  /*margin: 5px 50px;*/
  /*margin: auto;*/
}

.page-footer {
  display: flex;
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*align-content: flex-end;*/
}

.hidden {
  display: none;
}

#loadingMessage {
  position: absolute;
  top: 50%;
  left: 50%;
}

#modal-container {
  background-color: var(--modal-background-color);
  color: var(--modal-text-color-);
  border-color: var(--modal-border-color);
}

#modal-container h1 {
  color: var(--modal-title-color);
}

#modal-container button {
  color: var(--modal-button-color);
  background-color: var(--modal-button-background-color);
}

#modal-container button:hover, #modal-container button:focus {
  border-color: var(--modal-button-background-color);
}


#show-modal-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
}

#show-dialog-button {
  position: absolute;
  top: 20px;
  left: 150px;
  width: auto;
}

@media all and (max-width: 600px) {
  #pokemon-list li {
    width: 100%;
  }
}
